<div class="ui centered container">
  <% if @accommodation.type == "Room" %>
    <%= render 'show_room'%>
  <% else %>
    <% if @accommodation.type == "MeetingRoom" %>
      <%= render 'show_meeting_room'%>
    <% else %>
      <%= render 'show_event_hall'%>
    <% end %>
  <% end %>
</div>
