<h1 class="ui horizontal divider header">
  Editar Reserva
</h1>
<br/><br/>
<div class="ui container">
  <div class="ui center aligned grid">
    <%= render 'form', booking: @booking %>
    </br>
    <%= link_to 'Voltar', bookings_path %>
    </br></br>
  </div>
</div>
