<h1 class="ui horizontal divider header">
  Editando
  <% if @type == "Employee" %>
    Funcionário
  <% else %>
    Cliente
  <% end %>
</h1>
<br/><br/>
<div class="ui container">
  <div class="ui center aligned grid">

    <div class="ui form">
      <%= render 'form', user: @user %>
    </div>

    <%= link_to 'Visualizar', @user %>
    <% if @type == "Employee" %>
      <%= link_to 'Usuários', users_path %>
    <% end %>
  </div>
</div>
