<h1 class="ui horizontal divider header">
  Usuários
</h1>
<br/><br/>
<div class="ui container">
  <div class="ui center aligned grid">

    <h3 class="ui horizontal divider header">
      Clientes
    </h3>
    <%= render 'clients'%>
    </br>

    <h3 class="ui horizontal divider header">
      Funcionários
    </h3>
    <%= render 'employees'%>
    </br>

  </div>
</div>
