<div class="ui container">
  <div class="ui center aligned grid">
    <%= link_to 'Lista de reservas', bookings_path %>
    <%= link_to 'Situação dos Cômodos', accommodations_situation_path %>
  </div>
</div>
