<div class="ui container">
  </br>
  <div class="ui inverted green center aligned segment">
    </br>
    <div class="ui center aligned grid">
      <%= image_tag('fachada.jpg') %>
    </div>

    <div class="ui center aligned segment">
      <h1>Bem-vindo !</h1>
    </div>
  </div>
</div>
