<div class="ui green massive inverted menu">
	<div class="header item">
		<a href="/">
      <i class="home icon"></i>
      Home
    </a>
	</div>

	<div class="right menu">
		<a class="item" href="/hotelinformations/1">Sobre o Hotel</a>
		<a class="item" href="/">Lotação</a>
		<a class="item" href="/">Fazer Reserva</a>
		<a class="item" href="/">Minhas Reservas</a>
		<div class="item">
      <i class="sign out icon"></i>
			<%= link_to('Sair', destroy_user_session_path, :method => :delete) %>
		</div>
	</div>
</div>
