<div class="right floated column">
  <i class="facebook big green square icon"></i>
  <i class="twitter big green square icon"></i>
  <i class="mail big green square icon"></i>
  <i class="call big green square icon"></i>
</div>
